<h1>Listing exams</h1>

<%= link_to 'New exam', new_exam_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

  <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.name %></td>
      <td><%= exam.description %></td>
      <td><%= link_to 'Show', exam_path(exam) %></td>
      <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
      <td><%= link_to 'Delete', exam_path(exam), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>