<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "eXam", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_student.present? %>
        <li><a href="#"><%= current_student.name%></a></li>
        <li><a href="#"><%= current_student.surname%></a></li>
        <li><%= link_to "Sign Out", destroy_student_session_path, method: :delete %></li>
      <% elsif current_teacher.present?%>
        <li><a href="#"><%= current_teacher.name%></a></li>
        <li><a href="#"><%= current_teacher.surname%></a></li>
        <li><%= link_to "Sign Out", destroy_teacher_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Teacher Sign Up", new_teacher_registration_path %></li>
        <li><%= link_to "Teacher Login", new_teacher_session_path %></li>
        <li><%= link_to "Student Sign Up", new_student_registration_path %></li>
        <li><%= link_to "Student Login", new_student_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
  
  

  <body>
    <%= yield %>
  </body>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
</html>
