<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header" style="font-family:Helvetica;">
        <% if current_student.present? %>
          <%= link_to students_index_path do %>
            <%= image_tag("exam.png", :alt => "logo", :class => "navbar-brand") %>
          <% end %>
        <% elsif current_teacher.present?%>
          <%= link_to teachers_index_path do %>
            <%= image_tag("exam.png", :alt => "logo", :class => "navbar-brand") %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag("exam.png", :alt => "logo", :class => "navbar-brand") %>
          <% end %>        
        <% end %>
      </div>
      <div id="navbar6" class="navbar-collapse collapse" style="font-family:Helvetica;">
        <ul class="nav navbar-nav navbar-right" style="margin-right:5px;">
          <% if current_student.present? %>
            <li><a><%= current_student.name%> <%= current_student.surname%></a></li>
            <li><%= link_to "Sign Out", destroy_student_session_path, method: :delete %></li>
          <% elsif current_teacher.present?%>
            <li><a><%= current_teacher.name%> <%= current_teacher.surname%></a></li>
            <li><%= link_to "Sign Out", destroy_teacher_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Teacher Log In", new_teacher_session_path %></li>
            <li><%= link_to "Student Log In", new_student_session_path %></li>
          <% end %>
        </ul>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

  <body>
    <%= yield %>
  </body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</html>